<footer id="footer">
    <div class="footer_options">
        <a href="/">About</a>
        <a href="/">Parameters</a>
    </div>
    <div class="footer_options">
        <a href="/">Suggestions</a>
        <a href="/">Contact</a>
    </div>
</footer>