<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../../public/styles/dataRecord.css" media="all">
    <link rel="stylesheet" href="../../public/styles/main.css" media="all">
    <link rel="stylesheet" href="../../public/styles/index.css" media="all">
    <link rel="stylesheet" href="../../public/styles/options.css" media="all">
    <link rel="stylesheet" href="../../public/styles/memory.css" media="all">
    <link rel="stylesheet" href="../../public/styles/hangman.css" media="all">
    <link rel="stylesheet" href="../../public/styles/dataAccess.css" media="all">
    <link rel="stylesheet" href="../../public/styles/dataTables.css" media="all">
    <link rel="stylesheet" href="../../public/styles/formWords.css" media="all">
    <link rel="stylesheet" href="../../public/styles/linkArticle.css" media="all">
    

    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">


    <title>{{ title }}</title>
</head>