

<header id="header">


    {{!-- REQUIRE:  TRANSFORM ALL THE SPACE INTO LINK --}}
    <div class="site_title">
        <div class="limit_title">
            <a id="site_title_id" href="/">On Languages</a>
        </div>
    </div>


    <div class="general_menu">
        <div class="header_menu" id="button_game_options">
            <div class="limit_title">
                <a href="/options" class="button_header">Games Options</a>
                {{!-- <button id="button_header">Options Menu</button> --}}
            </div>
            
        </div>


        <div class="header_menu" id="button_words_record">
            <div class="limit_title">
                <a href="/dataset" class="button_header">Words Record</a>
            </div>
        </div>
    </div>

    


    {{!-- <div class="site_display">
        <input type="radio" class="input_language" id="option_language_english" name="option_language" value="english">
        <label for="option_language_english">English</label>

        <input type="radio" class="input_language" id="option_language_french" name="option_language" value="french">
        <label for="option_language_french">French</label>

        <input type="radio" class="input_language" id="option_language_german" name="option_language" value="german">
        <label for="option_language_german">German</label>

        <input type="radio" class="input_language" id="option_language_italian" name="option_language" value="italian">
        <label for="option_language_italian">Italian</label>

        <input type="radio" class="input_language" id="option_language_portuguese" name="option_language" value="portuguese">
        <label for="option_language_portuguese">Portuguese</label>

        <input type="radio" class="input_language" id="option_language_spanish" name="option_language" value="spanish">
        <label for="option_language_spanish">Spanish</label>
    </div> --}}

</header>

