<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

    {{{body}}}

    {{!-- {{> header}}
    <main id="main">
        <h1>INFERNO</h1>
    </main>
    {{> footer}}
    {{> scripts}} --}}
</body>
</html>