
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}

        <div id="main_form">

            <form class="register_data" action="/words" method="post">

                {{!-- <input type="hidden" id="id" name="id"> --}}

                <div class="register_word">
                    {{!-- <h2>Classification</h2> --}}
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="input_theme">Theme</label>
                            <select class="class_select" name="name_theme" id="input_theme">
                                <option value="animals">Animals</option>
                                {{!-- <option value="adjectives">Adjectives</option> --}}
                                <option value="body">Body</option>
                                <option value="city">City</option>
                                <option value="clothes">Clothes</option>
                                {{!-- <option value="countries">Countries</option> --}}
                                {{!-- <option value="disease">Disease</option> --}}
                                {{!-- <option value="drinks">Drinks</option> --}}
                                {{!-- <option value="family">Family</option> --}}
                                {{!-- <option value="fansaty">Fansaty</option> --}}
                                {{!-- <option value="feelings">Feelings</option> --}}
                                <option value="food">Food</option>
                                {{!-- <option value="hobbies">Hobbies</option> --}}
                                {{!-- <option value="hospital">Hospital</option> --}}
                                <option value="house">House</option>
                                <option value="jobs">Profesions</option>
                                {{!-- <option value="movies">Movies</option> --}}
                                {{!-- <option value="music">Music</option> --}}
                                <option value="nature">Nature</option>
                                {{!-- <option value="numbers">Numbers</option> --}}
                                {{!-- <option value="office">Office</option> --}}
                                {{!-- <option value="religion">Religion</option> --}}
                                {{!-- <option value="school">School</option> --}}
                                {{!-- <option value="sports">Sports</option> --}}
                                <option value="vehicles">Vehicles</option>
                                {{!-- <option value="verbs">Verbs</option> --}}
                            </select>
                            <!-- 
                            <input type="text"> -->
                        </div>

                        <div class="label_input">
                            <label for="input_level">Level</label>
                            <select class="class_select" name="name_level" id="input_level">
                                <option value="a1">A1</option>
                                <option value="a2">A2</option>
                                <option value="b1">B1</option>
                                <option value="b2">B2</option>
                                <option value="c1">C1</option>
                                <option value="c2">C2</option>
                            </select>
                        </div>

                        <div class="label_input">
                            <label for="input_grammar">Part of speech</label>
                            <select class="class_select" name="name_grammar" id="input_grammar">
                                {{!-- <option value="adjectives">Adjectives</option> --}}
                                <option value="noun">Noun</option>
                                <option value="verb">Verb</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>English</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_eng" type="text" name="english[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_eng" type="text" name="english[word]">
                        </div>

                        <div class="label_input">
                            <label for="english_gender">Gender</label>
                            <select class="class_select" name="english[gender]" id="english_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>French</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_fren" type="text" name="french[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_fren" type="text" name="french[word]">
                        </div>

                        <div class="label_input">
                            <label for="french_gender">Gender</label>
                            <select class="class_select" name="french[gender]" id="french_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>German</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_germ" type="text" name="german[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_germ" type="text" name="german[word]">
                        </div>

                        <div class="label_input">
                            <label for="german_gender">Gender</label>
                            <select class="class_select" name="german[gender]" id="german_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="register_word">
                    <h2>Italian</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_ital" type="text" name="italian[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_ital" type="text" name="italian[word]">
                        </div>

                        <div class="label_input">
                            <label for="italian_gender">Gender</label>
                            <select class="class_select" name="italian[gender]" id="italian_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="register_word">
                    <h2>Portuguese</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_port" type="text" name="portuguese[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_port" type="text" name="portuguese[word]">
                        </div>

                        <div class="label_input">
                            <label for="portuguese_gender">Gender</label>
                            <select class="class_select" name="portuguese[gender]" id="portuguese_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>Spanish</h2>
                    <div class="inputs_labels">

                        <div class="label_input">
                            <label for="">Article</label>
                            <input id="art_span" type="text" name="spanish[article]">
                        </div>
                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_span" type="text" name="spanish[word]">
                        </div>
                        <div class="label_input">
                            <label for="spanish_gender">Gender</label>
                            <select class="class_select" name="spanish[gender]" id="spanish_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>


                <div>
                    {{!-- <button id="button_register" name="button_register">Register</button> --}}
                    <input type="submit" id="button_register"  value="Register">
                </div>
            </form>

            {{!-- {{{body}}} --}}

        </div>
    </div>

    {{> footer}}

</main>

{{> scripts}}
<script src="../../public/scripts/supp_data_generator.js"></script>

