
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_form_words">

            <div class="partsofmain_form_words" id="challenger_space">
            
                <div class="container" id="container_answer">
                    
                </div>


                <div hidden>
                    {{#each words.wordletters}}
                        <p class="checkable" id="letter_checkable_{{@index}}" hidden>{{letter}}</p>
                    {{/each}}
                </div>

                <hr id="hr">

                <div class="container">
                    {{#each words.mixedletters}}

                        <p class="draggable" id="letter_{{@index}}" draggable="true">{{letter}}</p>
                
                    {{/each}}
                </div>
            </div>


            
            <div class="partsofmain_form_words">
                {{!-- RESTART BUTTON --}}
                <input type="submit" onClick="window.location.reload();" id="button_restart" value="Restart">
            </div>
        </div>
    </div>

    {{> footer}}
</main>


<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
{{!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> --}}


<script src="../../public/scripts/formWords.js"></script>
{{> scripts}}