
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_options">

            <form id="games_options" action="/gameoptions" method="get">

                <div class="options_selector">
                    <h3>Games Options</h3>
                    <div class="inputs_and_labels">
                        {{!-- <input type="radio" class="input_option" id="option_flash_card" name="option_game" value="flashCard">
                        <label for="option_flash_card">Flash Card</label> --}}

                        <input type="radio" class="input_option" id="option_hangman" name="option_game" value="hangman">
                        <label for="option_hangman">Hangman</label>

                        <input type="radio" class="input_option" id="option_memory" name="option_game" value="memory">
                        <label for="option_memory">Memory</label>

                        {{!-- <input type="radio" class="input_option" id="option_link_article" name="option_game" value="linkArticle">
                        <label for="option_link_article">Link Article</label> --}}

                        {{!-- <input type="radio" class="input_option" id="option_associations" name="option_game" value="formWords">
                        <label for="option_associations">Associations</label> --}}

                        <input type="radio" class="input_option" id="option_form_words" name="option_game" value="formWords">
                        <label for="option_form_words">Form Words</label>
                    </div>
                </div>



                <div class="options_selector">
                    <h3>Language</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option_english" name="option_language" value="english">
                        <label for="option_english">English</label>

                        <input type="radio" class="input_option" id="option_french" name="option_language" value="french">
                        <label for="option_french">French</label>

                        <input type="radio" class="input_option" id="option_german" name="option_language" value="german">
                        <label for="option_german">German</label>

                        <input type="radio" class="input_option" id="option_italian" name="option_language" value="italian">
                        <label for="option_italian">Italian</label>

                        <input type="radio" class="input_option" id="option_portuguese" name="option_language" value="portuguese">
                        <label for="option_portuguese">Portuguese</label>

                        <input type="radio" class="input_option" id="option_spanish" name="option_language" value="spanish">
                        <label for="option_spanish">Spanish</label>
                    </div>
                </div>



                <div class="options_selector">
                    <h3>Levels</h3>
                    <div class="inputs_and_labels">
                        <input type="checkbox" class="input_option" id="option_a1" name="option_level" value="a1">
                        <label for="option_a1">A1</label>

                        <input type="checkbox" class="input_option" id="option_a2" name="option_level" value="a2">
                        <label for="option_a2">A2</label>

                        <input type="checkbox" class="input_option" id="option_b1" name="option_level" value="b1">
                        <label for="option_b1">B1</label>

                        <input type="checkbox" class="input_option" id="option_b2" name="option_level" value="b2">
                        <label for="option_b2">B2</label>

                        <input type="checkbox" class="input_option" id="option_c1" name="option_level" value="c1">
                        <label for="option_c1">C1</label>

                        <input type="checkbox" class="input_option" id="option_c2" name="option_level" value="c2">
                        <label for="option_c2">C2</label>

                        <input type="checkbox" class="input_option" id="option_nada" name="option_level" checked value="none" hidden>
                        <label hidden for="option_nada">arrumadinho</label>
                        
                    </div>
                </div>



                <div class="options_selector">
                    <h3>Themes</h3>
                    <div class="inputs_and_labels">
                        <input type="checkbox" class="input_option" id="option_city" name="option_theme" value="city">
                        <label for="option_city">City</label>

                        {{!-- <input type="checkbox" class="input_option" id="option_objects" name="option_theme" value="objects">
                        <label for="option_objects">Objects</label> --}}

                        <input type="checkbox" class="input_option" id="option_food" name="option_theme" value="food">
                        <label for="option_food">Food</label>

                        {{!-- <input type="checkbox" class="input_option" id="option_animals" name="option_theme" value="animals">
                        <label for="option_animals">Animals</label> --}}

                        <input type="checkbox" class="input_option" id="option_nature" name="option_theme" value="nature">
                        <label for="option_nature">Nature</label>

                        <input type="checkbox" class="input_option" id="option_none" name="option_theme" checked value="none" hidden>
                        <label for="option_none" hidden>arrumadinho</label>
                    </div>
                </div>



                <div class="options_selector" id="memory_cards_options">
                    <h3>Number of Memory Cards</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option_cards_8" name="option_cards" value="8">
                        <label for="option_cards_8" id="label_option_cards_8">8</label>

                        <input type="radio" class="input_option" id="option_cards_12" name="option_cards" value="12">
                        <label for="option_cards_12" id="label_option_cards_12">12</label>

                        <input type="radio" class="input_option" id="option_cards_16" name="option_cards" value="16">
                        <label for="option_cards_16" id="label_option_cards_16">16</label>

                        <input type="radio" class="input_option" id="option_cards_20" name="option_cards" value="20">
                        <label for="option_cards_20" id="label_option_cards_20">20</label>

                        <input type="radio" class="input_option" id="option_cards_24" name="option_cards" value="24">
                        <label for="option_cards_24" id="label_option_cards_24">24</label>
                    </div>
                </div>



                <div class="options_selector" id="method_language">
                    <h3>Language Options</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option_mono" name="option_language_method" value="mono">
                        <label for="option_mono">One Language</label>

                        <input type="radio" class="input_option" id="option_dual" name="option_language_method" value="dual">
                        <label for="option_dual">Dual language</label>

                        {{!-- <input type="radio" class="input_option" id="option_mono_supp" name="option_language_method" value="monosupp">
                        <label for="option_mono_supp">One Language with Support</label> --}}
                    </div>
                </div>



                <div class="options_selector" id="second_language">
                    <h3>Second Language</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option2_english" name="option2_language" value="english">
                        <label for="option2_english">English</label>

                        <input type="radio" class="input_option" id="option2_french" name="option2_language" value="french">
                        <label for="option2_french">French</label>

                        <input type="radio" class="input_option" id="option2_german" name="option2_language" value="german">
                        <label for="option2_german">German</label>

                        <input type="radio" class="input_option" id="option2_italian" name="option2_language" value="italian">
                        <label for="option2_italian">Italian</label>

                        <input type="radio" class="input_option" id="option2_portuguese" name="option2_language" value="portuguese">
                        <label for="option2_portuguese">Portuguese</label>

                        <input type="radio" class="input_option" id="option2_spanish" name="option2_language" value="spanish">
                        <label for="option2_spanish">Spanish</label>
                    </div>
                </div>


                <div>
                    <input type="submit" id="button_start" value="Start">
                </div>
            </form>
        </div>
    </div>

    {{> footer}}

</main>


<script src="../../public/scripts/options.js"></script>
<script src="../../public/scripts/main.js"></script>
{{> scripts}}


