
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}

        <div class="square">
            <h1>On Languages</h1>
        </div>

        
    </div>

    {{> footer}}
</main>

{{> scripts}}