{{> header}}    

<main id="main">

    <div class="partsofmain" id="game_space">

        <div class="links_container" id="articles_container">
            <p class="links_draggable">ZZ</p>
            <p class="links_draggable">ZZ</p>
            <p class="links_draggable">ZZ</p>
            <p class="links_draggable">ZZ</p>
            <p class="links_draggable">ZZ</p>
            <p class="links_draggable">ZZ</p>
        </div>
    
        
        <div id="words_containers">

            <div class="links_container word_container">
                <p class="links_draggable">dfghjul</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">aevbnyumi</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">awaxedaejloljolnh</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">srfcsrcergbjngikhiunkubjhvgcfx</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">secfsdrgdvtgbfhyftyb</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">scersrvgdtbynj</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">etbtnyu,loii</p>
            </div>
            <div class="links_container word_container">
                <p class="links_draggable">wercwevtbefgnjuigyn</p>
            </div>
        </div>


    </div>
    
    <div class="partsofmain" id="xxxxxxx">
        
    </div>

     
    <div class="partsofmain">
        {{!-- RESTART BUTTON --}}
        <input type="submit" onClick="window.location.reload();" id="button_restart" value="Restart">
    </div>

</main>


{{> footer}}


{{> scripts}}