{% extends 'layout.njk'%}
{% import 'parts/card.njk' as card%}

{% block content %}
   {% call card.render('Select Game Option', 'gamesoptions container form')%}
      <form action="/gamesoptions" method='GET'>
	 <div class="item">
	    <div>Games Options</div>
	    <div class='input'>
	       <span onclick='check("Hangman")'>
		  <input id="Hangman" type="radio" name="gamesoptions" value="H">
		  <label for="Hangman">Hangman</label>
	       </span>
	       <span onclick="check('Memory')">
		  <input type="radio" id="Memory" name="gamesoptions" value="M">
		  <label for="Memory">Memory</label>
	       </span>
	       <span onclick="check('Form')">
		  <input type="radio" id='Form' name="gamesoptions" value="F">
		  <label for="Form">Form Words</label>
	       </span>
	    </div>
	 </div>

	 <div class="item">
	    <div>Select Language</div>
	    <div class="input language">
	       {%for language in languages%}

		  <span onclick='check("{{language.region}}")'><input type="radio" id="{{language.region}}" name="languageoption"><label for="{{language.region}}">{{language.name}}</label></span>

	       {% endfor%}
	    </div>
	 </div>
	 <div class="item">
	    <div>Select Level</div>
	    <div class="input level">
	       {%for nivel in level %}

		  <span onclick='check("{{nivel.level}}")'><input type="radio" id="{{nivel.level}}" name="languageoption"><label for="{{nivel.level}}">{{nivel.level}}</label></span>

	       {% endfor%}
	    </div>
	 </div>

      </form>



   {%endcall%}
   
{% endblock content%}
