
#main_data_access {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    height: 100vh;
    width: 100%;
}

.dataset_access {
    /* background-color: rgb(124, 199, 13); */
    display: flex;
    align-items: center;
    flex-direction: column;
    
    justify-content: space-around;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    height: 60vh;
    width: 60%;
}
.dataset_inputs_labels {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.dataset_inputs_labels label {
    font-size: 20px;
    margin-bottom: 8px;
}

.dataset_label_input {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#button_check_data {
    background-color: rgb(26, 26, 26);
    border-radius: 4px;
    font-size: inherit;
    margin: 5px;
    padding: 15px;
    border: 0;
    transition: 0.5s, color 0.5s;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
#button_check_data:hover {
    background-color: rgb(58, 58, 58);
}
#button_check_data:active {
    background-color: rgb(78, 78, 78);
}






@media (max-width: 625px) {
    #main_data_access {
        padding: 0;
    }
}
