

#main_tables {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    height: 100vh;
    width: 100%;
}


.show_table {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgb(49, 49, 49);
    font-size: 18px;
    height: 80%;
    width: 90%;
}

/* .table_class {
    display: none;
} */
th {
    background-color: rgb(194, 194, 194);
}

.table_class th, .table_class td {
    color: black;
    border: 1px solid black;
    padding: 5px;
}

table {
    border: 1px solid black;
}


td {
    text-align: center;
    border: 1px solid black;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3) {
    background-color: rgb(146, 173, 255);
}
td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    background-color: rgb(253, 146, 146);
}
td:nth-child(7), td:nth-child(8), td:nth-child(9) {
    background-color: rgb(182, 214, 250);
}
td:nth-child(10), td:nth-child(11), td:nth-child(12) {
    background-color: rgb(174, 253, 174);
}
td:nth-child(13), td:nth-child(14), td:nth-child(15) {
    background-color: rgb(250, 215, 151);
}
td:nth-child(16), td:nth-child(17), td:nth-child(18) {
    background-color: rgb(152, 194, 152);
}