
#main_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 15px;
}
.register_data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    height: 100%;
    width: 75%;
}


/* DATA REGISTER */
.register_word {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_word h2 {
    margin: 9px 0 0 0;
    color: black;
    font-size: 16px;
}
.inputs_labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.class_select {
    width: 175px;
    outline: none;
    border: 0;
    border-radius: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}
.class_select option {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.label_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 5px 10px;
}
.label_input label {
    color: black;
    margin-bottom: 5px;
    font-size: 14px;
}
.label_input input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    outline: none;
    cursor: text;
    border: 0;
    padding: 3px;
    color: black;
    overflow: visible;
    text-align: center;
}
#button_register {
    background-color: rgb(26, 26, 26);
    border-radius: 4px;
    font-size: inherit;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border: 0;
    transition: 0.5s, color 0.5s;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
    font-size: 15px;
}
#button_register:hover {
    background-color: rgb(58, 58, 58);
}
#button_register:active {
    background-color: rgb(78, 78, 78);
}






/* RESPONSIVE: TO TABLET */
@media (max-width: 770px) {
    #main_form {
        margin: 20px 0;
        padding: 0px;
    }
    .register_data {
        font-size: inherit;
        width: 100%;
    }
}
