
#main_form_words {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.partsofmain_form_words {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

    background-color: orange;
    border-radius: 6px;
    height: auto;
    width: 65%;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
#challenger_space {
    display: flex;
    flex-direction: column;
}
.container {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 75px;
    flex-direction: row;
    width: 90%;
    margin: 10px;
    /* transition: 0.3s cubic-bezier(0.2, 1, 0.1, 1); */
}
#hr {
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgb(83, 83, 83, 0) 0%, rgb(83, 83, 83, 1) 10%, rgb(83, 83, 83, 1) 90%, rgb(83, 83, 83, 0) 99%);
    margin: 3px 0;
    border: 0;
}

.draggable {
    transition: transform 0ms ease 0s;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    color: black;
    border: none;
    padding: 5px 7px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 0 gray;
    margin: 10px;
}
.draggable.transition {
    transition: 0.5s, color 0.5s;
    /* transform: scale(1); */
}
.draggable {
    transition: none;
    /* transform: scale(1.2); */
}

.draggable:hover {
    background-color: black;
    color: white;
}


/* .draggable.over {
    border: 1px solid green;
} */

.draggable.dragging {
    opacity: .5;
    /* transform: scale(1.2); */
}

