
#main_hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}
.partsofmain_hangman {
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
#hangman_and_word {
    display: flex;
    justify-content: space-around;
}
#display_letters {
    display: flex;
    flex-direction: row;
}
.hangman_display {
    margin: 10px;
    padding: 10px;
}
.letter_case {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
    display: block;
    margin: 3px;
    /* border-bottom: 1px solid black; */
    box-shadow: 2px 2px 6px 0 gray;
}
.letter_space {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    color: black;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
.inputs_alphabet {
    display: none;
}
.labels_alphabet {
    float: left;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 5px;
    border: none;
    outline: none;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 gray;
    font-size: inherit;
    transition: 0.5s, color 0.5s;
}
.labels_alphabet:hover {
    color: white;
    background-color: rgb(58, 58, 58);
}
.labels_alphabet:active {
    color: white;
    transform: scale(0.97);
    background-color: rgb(78, 78, 78);
}
.div_alphabet_buttons input:checked + label {
    background-color:  rgb(26, 26, 26);
    color: whitesmoke;
}





/* RESPONSIVE: TO TABLET */
@media (max-width: 770px) {
    #main_hangman {
        height: 100vh;
        width: 100%;
    }
    .letter_case {
        width: 30px;
        height: 30px;
    }
    .letter_space {
        font-size: 100%;
    }
}


/* REQUIRE: CHANGE SIDE ACCORDINT TO THE SIZE OF THE WORD */

/* RESPONSIVE: TO TINY TABLET */
@media (max-width: 600px) {
    #main_hangman {
        height: 100vh;
        width: 100%;
    }
    .letter_case {
        width: 20px;
        height: 20px;
    }
}





/* RESPONSIVE: TO LARGE CELL PHONE */
@media (max-width: 425px) {
    #main_hangman {
        height: 100%;
        width: 100%;
    }
}





/* RESPONSIVE: TO TINY CELL PHONE */
@media (max-width: 320px) {
    #main_hangman {
        height: 100%;
        width: 100%;
    }
}