<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      {%block head%}
      {%endblock head%}
      {% include 'parts/style.njk'%}
      
   </head>
   <body>
      {% include 'parts/header.njk'%}
      {%block content%}
      {%endblock content%}

   </body>
</html>
